In [406]:
import pandas as pd

In [407]:
cltvdata=pd.read_csv(r'C:\Users\genus\OneDrive\Documents\Cltv\churn-bigml-80.csv')

In [408]:
cltvdata

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2661,SC,79,415,No,No,0,134.7,98,22.90,189.7,68,16.12,221.4,128,9.96,11.8,5,3.19,2,False
2662,AZ,192,415,No,Yes,36,156.2,77,26.55,215.5,126,18.32,279.1,83,12.56,9.9,6,2.67,2,False
2663,WV,68,415,No,No,0,231.1,57,39.29,153.4,55,13.04,191.3,123,8.61,9.6,4,2.59,3,False
2664,RI,28,510,No,No,0,180.8,109,30.74,288.8,58,24.55,191.9,91,8.64,14.1,6,3.81,2,False
2665,TN,74,415,No,Yes,25,234.4,113,39.85,265.9,82,22.60,241.4,77,10.86,13.7,4,3.70,0,False

In [409]:
cltvdata.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

In [410]:
#Summary of the columns
cltvdata.describe()

,Account length,Area code,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls
count,2666.000000,2666.000000,2666.000000,2666.00000,2666.000000,2666.000000,2666.000000,2666.000000,2666.000000,2666.000000,2666.000000,2666.000000,2666.000000,2666.000000,2666.000000,2666.000000
mean,100.620405,437.438860,8.021755,179.48162,100.310203,30.512404,200.386159,100.023631,17.033072,201.168942,100.106152,9.052689,10.237022,4.467367,2.764490,1.562641
std,39.563974,42.521018,13.612277,54.21035,19.988162,9.215733,50.951515,20.161445,4.330864,50.780323,19.418459,2.285120,2.788349,2.456195,0.752812,1.311236
min,1.000000,408.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,43.700000,33.000000,1.970000,0.000000,0.000000,0.000000,0.000000
25%,73.000000,408.000000,0.000000,143.40000,87.000000,24.380000,165.300000,87.000000,14.050000,166.925000,87.000000,7.512500,8.500000,3.000000,2.300000,1.000000
50%,100.000000,415.000000,0.000000,179.95000,101.000000,30.590000,200.900000,100.000000,17.080000,201.150000,100.000000,9.050000,10.200000,4.000000,2.750000,1.000000
75%,127.000000,510.000000,19.000000,215.90000,114.000000,36.700000,235.100000,114.000000,19.980000,236.475000,113.000000,10.640000,12.100000,6.000000,3.270000,2.000000
max,243.000000,510.000000,50.000000,350.80000,160.000000,59.640000,363.700000,170.000000,30.910000,395.000000,166.000000,17.770000,20.000000,20.000000,5.400000,9.000000

In [411]:
cltvdata.columns

Index(['State', 'Account length', 'Area code', 'International plan',
       'Voice mail plan', 'Number vmail messages', 'Total day minutes',
       'Total day calls', 'Total day charge', 'Total eve minutes',
       'Total eve calls', 'Total eve charge', 'Total night minutes',
       'Total night calls', 'Total night charge', 'Total intl minutes',
       'Total intl calls', 'Total intl charge', 'Customer service calls',
       'Churn'],
      dtype='object')

In [365]:
!pip install seaborn

Requirement already satisfied: seaborn in c:\users\genus\onedrive\documents\testfiles\lib\site-packages (0.11.2)
Requirement already satisfied: numpy>=1.15 in c:\users\genus\onedrive\documents\testfiles\lib\site-packages (from seaborn) (1.21.1)
Requirement already satisfied: pandas>=0.23 in c:\users\genus\onedrive\documents\testfiles\lib\site-packages (from seaborn) (1.3.1)
Requirement already satisfied: scipy>=1.0 in c:\users\genus\onedrive\documents\testfiles\lib\site-packages (from seaborn) (1.7.1)
Requirement already satisfied: matplotlib>=2.2 in c:\users\genus\onedrive\documents\testfiles\lib\site-packages (from seaborn) (3.4.2)
Requirement already satisfied: cycler>=0.10 in c:\users\genus\onedrive\documents\testfiles\lib\site-packages (from matplotlib>=2.2->seaborn) (0.10.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\genus\onedrive\documents\testfiles\lib\site-packages (from matplotlib>=2.2->seaborn) (8.3.1)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\genus\onedrive\documents\testfiles\lib\site-packages (from matplotlib>=2.2->seaborn) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\genus\onedrive\documents\testfiles\lib\site-packages (from matplotlib>=2.2->seaborn) (1.3.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\genus\onedrive\documents\testfiles\lib\site-packages (from matplotlib>=2.2->seaborn) (2.8.2)
Requirement already satisfied: six in c:\users\genus\onedrive\documents\testfiles\lib\site-packages (from cycler>=0.10->matplotlib>=2.2->seaborn) (1.16.0)
Requirement already satisfied: pytz>=2017.3 in c:\users\genus\onedrive\documents\testfiles\lib\site-packages (from pandas>=0.23->seaborn) (2021.1)

WARNING: You are using pip version 21.1.3; however, version 21.3.1 is available.
You should consider upgrading via the 'c:\users\genus\onedrive\documents\testfiles\python.exe -m pip install --upgrade pip' command.

In [366]:
import seaborn as sns

In [367]:
cltvdata.columns

Index(['State', 'Account length', 'Area code', 'International plan',
       'Voice mail plan', 'Number vmail messages', 'Total day minutes',
       'Total day calls', 'Total day charge', 'Total eve minutes',
       'Total eve calls', 'Total eve charge', 'Total night minutes',
       'Total night calls', 'Total night charge', 'Total intl minutes',
       'Total intl calls', 'Total intl charge', 'Customer service calls',
       'Churn'],
      dtype='object')

In [368]:
#CLTV = ((Average Order Value x Purchase Frequency)/Churn Rate) x Profit margin

In [369]:
cltvdata.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

In [370]:
#Customer Lifetime Value ($) = Margin ($) * (Retention Rate (%) ÷ ([1 + Discount Rate (%)] – Retention Rate (%))

In [371]:
cltvdata['Churn']

0       False
1       False
2       False
3       False
4       False
        ...
2661    False
2662    False
2663    False
2664    False
2665    False
Name: Churn, Length: 2666, dtype: bool

In [372]:
cltvdata['voicecallindollars_operatingcost']=0.1*cltvdata['Total day minutes']+0.1*cltvdata['Total eve minutes']

In [373]:
cltvdata.columns

Index(['State', 'Account length', 'Area code', 'International plan',
       'Voice mail plan', 'Number vmail messages', 'Total day minutes',
       'Total day calls', 'Total day charge', 'Total eve minutes',
       'Total eve calls', 'Total eve charge', 'Total night minutes',
       'Total night calls', 'Total night charge', 'Total intl minutes',
       'Total intl calls', 'Total intl charge', 'Customer service calls',
       'Churn', 'voicecallindollars_operatingcost'],
      dtype='object')

In [374]:
cltvdata['internationalcall_operatingcost']=0.5

In [375]:
cltvdata['datachargesindollars']=10

In [376]:
cltvdata.columns

Index(['State', 'Account length', 'Area code', 'International plan',
       'Voice mail plan', 'Number vmail messages', 'Total day minutes',
       'Total day calls', 'Total day charge', 'Total eve minutes',
       'Total eve calls', 'Total eve charge', 'Total night minutes',
       'Total night calls', 'Total night charge', 'Total intl minutes',
       'Total intl calls', 'Total intl charge', 'Customer service calls',
       'Churn', 'voicecallindollars_operatingcost',
       'internationalcall_operatingcost', 'datachargesindollars'],
      dtype='object')

In [377]:
cltvdata['totalchargesleveid']=cltvdata['Total day charge']+cltvdata['Total night charge']+cltvdata['Total intl charge']+cltvdata['datachargesindollars']

In [378]:
cltvdata['totaloperatingcost']= cltvdata['voicecallindollars_operatingcost']+cltvdata['internationalcall_operatingcost']

In [379]:
cltvdata['profit']=cltvdata['totalchargesleveid']-cltvdata['totaloperatingcost']

In [380]:
cltvdata['profit']

0       22.03
1       16.41
2       25.03
3       34.91
4       17.48
        ...
2661    13.11
2662    14.11
2663    21.54
2664     5.73
2665    13.88
Name: profit, Length: 2666, dtype: float64

In [381]:
cltvdata['profitmargin']=(cltvdata['profit']/cltvdata['totalchargesleveid'])*100

In [382]:
cltvdata['profitmargin']

0       32.029660
1       31.185861
2       40.377480
3       48.797875
4       35.327405
          ...
2661    28.469055
2662    27.249903
2663    35.609192
2664    10.772702
2665    21.549449
Name: profitmargin, Length: 2666, dtype: float64

In [383]:
cltvdata.columns

Index(['State', 'Account length', 'Area code', 'International plan',
       'Voice mail plan', 'Number vmail messages', 'Total day minutes',
       'Total day calls', 'Total day charge', 'Total eve minutes',
       'Total eve calls', 'Total eve charge', 'Total night minutes',
       'Total night calls', 'Total night charge', 'Total intl minutes',
       'Total intl calls', 'Total intl charge', 'Customer service calls',
       'Churn', 'voicecallindollars_operatingcost',
       'internationalcall_operatingcost', 'datachargesindollars',
       'totalchargesleveid', 'totaloperatingcost', 'profit', 'profitmargin'],
      dtype='object')

In [384]:
features=cltvdata[['Account length', 'Area code', 'International plan',
       'Voice mail plan', 'Number vmail messages', 'Total day minutes',
       'Total day calls', 'Total day charge', 'Total eve minutes',
       'Total eve calls', 'Total eve charge', 'Total night minutes',
       'Total night calls', 'Total night charge', 'Total intl minutes',
       'Total intl calls', 'Total intl charge', 'Customer service calls']]

In [385]:
features.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2666 entries, 0 to 2665
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Account length          2666 non-null   int64
 1   Area code               2666 non-null   int64
 2   International plan      2666 non-null   object
 3   Voice mail plan         2666 non-null   object
 4   Number vmail messages   2666 non-null   int64
 5   Total day minutes       2666 non-null   float64
 6   Total day calls         2666 non-null   int64
 7   Total day charge        2666 non-null   float64
 8   Total eve minutes       2666 non-null   float64
 9   Total eve calls         2666 non-null   int64
 10  Total eve charge        2666 non-null   float64
 11  Total night minutes     2666 non-null   float64
 12  Total night calls       2666 non-null   int64
 13  Total night charge      2666 non-null   float64
 14  Total intl minutes      2666 non-null   float64
 15  Total intl calls        2666 non-null   int64
 16  Total intl charge       2666 non-null   float64
 17  Customer service calls  2666 non-null   int64
dtypes: float64(8), int64(8), object(2)
memory usage: 375.0+ KB

In [386]:
features.columns

Index(['Account length', 'Area code', 'International plan', 'Voice mail plan',
       'Number vmail messages', 'Total day minutes', 'Total day calls',
       'Total day charge', 'Total eve minutes', 'Total eve calls',
       'Total eve charge', 'Total night minutes', 'Total night calls',
       'Total night charge', 'Total intl minutes', 'Total intl calls',
       'Total intl charge', 'Customer service calls'],
      dtype='object')

In [387]:
features['International plan']=features['International plan'].astype('category')
features['Voice mail plan']=features['Voice mail plan'].astype('category')

C:\Users\genus\AppData\Local\Temp/ipykernel_16240/4110007076.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features['International plan']=features['International plan'].astype('category')
C:\Users\genus\AppData\Local\Temp/ipykernel_16240/4110007076.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features['Voice mail plan']=features['Voice mail plan'].astype('category')

In [388]:
features['International plan']=features['International plan'].cat.codes
features['Voice mail plan']=features['Voice mail plan'].cat.codes

C:\Users\genus\AppData\Local\Temp/ipykernel_16240/2614969590.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features['International plan']=features['International plan'].cat.codes
C:\Users\genus\AppData\Local\Temp/ipykernel_16240/2614969590.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features['Voice mail plan']=features['Voice mail plan'].cat.codes

In [389]:
target=cltvdata['Churn']

In [390]:
from sklearn.model_selection import train_test_split

In [391]:
x_train, x_test, y_train, y_test = train_test_split(features,target)

In [392]:
target=target.astype('category')

In [393]:
target=target.cat.codes

In [394]:
target
x_train, x_test, y_train, y_test = train_test_split(features,target)

In [395]:
 from sklearn.preprocessing import StandardScaler

In [396]:
scalar = StandardScaler()

In [397]:
x_train=scalar.fit_transform(x_train)
x_test=scalar.fit_transform(x_test)

In [398]:
from sklearn.ensemble import RandomForestClassifier

#Create a Gaussian Classifier
clf=RandomForestClassifier(n_estimators=100)

#Train the model using the training sets y_pred=clf.predict(X_test)
clf.fit(x_train,y_train)

y_pred=clf.predict(x_test)

In [399]:
pd.crosstab(y_test,y_pred)

col_0    0   1
row_0
0      561   3
1       31  72

In [400]:
cltvdata['churnprobabilities']=clf.predict_proba(features)[:,1]

In [401]:
 #CLTV = M * (1+d)/(1+d-r)
 # formula for calculating customer lifetime value

In [402]:
#discountrate=0.06 or 6%

In [403]:
cltvdata['lifetimevalue']=cltvdata['profitmargin']*((1+0.06)/(1+0.06-cltvdata['churnprobabilities']))

In [404]:
cltvdata['lifetimevalue']

0        52.232984
1        50.856942
2       107.000323
3       161.642962
4       113.475907
           ...
2661     91.446057
2662     53.490551
2663    114.381040
2664     34.603223
2665     34.609721
Name: lifetimevalue, Length: 2666, dtype: float64